Source: https://www.w3schools.com/r/default.asp

In [1]:
for (x in 1:10) {
  print(x)
}

[1] 1
[1] 2
[1] 3
[1] 4
[1] 5
[1] 6
[1] 7
[1] 8
[1] 9
[1] 10

In [2]:
fruits <- list("apple", "banana", "cherry")

for (x in fruits) {
  print(x)
}

[1] "apple"
[1] "banana"
[1] "cherry"

In [18]:
for (x in fruits) {
    for (y in fruits) {
        if (y != x) {
          print(paste(x,y))
        }
        if (y == x) {
            print(paste(x))
        }
    }
}

[1] "apple"
[1] "apple banana"
[1] "apple cherry"
[1] "banana apple"
[1] "banana"
[1] "banana cherry"
[1] "cherry apple"
[1] "cherry banana"
[1] "cherry"

In [27]:
dice <- c(1,2,3,4,5,6)
for (x in dice) {
    print(paste("Number: ",x))
}

[1] "Number:  1"
[1] "Number:  2"
[1] "Number:  3"
[1] "Number:  4"
[1] "Number:  5"
[1] "Number:  6"

In [28]:
fruits <- list("apple", "banana", "cherry")

for (x in fruits) {
  if (x == "cherry") {
    break
  }
  print(x)
}

[1] "apple"
[1] "banana"

In [29]:
fruits <- list("apple", "banana", "cherry")

for (x in fruits) {
  if (x == "banana") {
    next
  }
  print(x)
}

[1] "apple"
[1] "cherry"

In [32]:
dice <- 1:6

for(x in dice) {
  if (x == 6) {
    print(paste("The dice number is", x, "Yahtzee!"))
  } 
  else {
    print(paste("The dice number is", x, "Not Yahtzee"))
  }
}

[1] "The dice number is 1 Not Yahtzee"
[1] "The dice number is 2 Not Yahtzee"
[1] "The dice number is 3 Not Yahtzee"
[1] "The dice number is 4 Not Yahtzee"
[1] "The dice number is 5 Not Yahtzee"
[1] "The dice number is 6 Yahtzee!"

In [34]:
adj <- list("red", "big", "tasty")

fruits <- list("apple", "banana", "cherry")
  
for (x in adj) {
    for (y in fruits) {
      print(paste(x, y))
  }
}

[1] "red apple"
[1] "red banana"
[1] "red cherry"
[1] "big apple"
[1] "big banana"
[1] "big cherry"
[1] "tasty apple"
[1] "tasty banana"
[1] "tasty cherry"

In [35]:
my_function <- function() { # create a function with the name my_function
  print("Hello World!")
}

In [37]:
my_function()

[1] "Hello World!"

In [40]:
my_function <- function(fname) {
  paste(fname, "Griffin")
}

my_function("Peter")
my_function("Lois")
my_function("Stewie")

[1] "Peter Griffin"

[1] "Lois Griffin"

[1] "Stewie Griffin"

In [41]:
my_function <- function(fname, lname) {
  paste(fname, lname)
}

my_function("Peter", "Griffin")

[1] "Peter Griffin"

In [42]:
my_function <- function(country = "Norway") {
  paste("I am from", country)
}

my_function("Sweden")
my_function("India")
my_function() # will get the default value, which is Norway
my_function("USA")

[1] "I am from Sweden"

[1] "I am from India"

[1] "I am from Norway"

[1] "I am from USA"