In [5]:
version

               _
platform       x86_64-w64-mingw32
arch           x86_64
os             mingw32
system         x86_64, mingw32
status
major          4
minor          0.3
year           2020
month          10
day            10
svn rev        79318
language       R
version.string R version 4.0.3 (2020-10-10)
nickname       Bunny-Wunnies Freak Out

In [1]:
rm(list = ls())

In [2]:
library("plm")

In [3]:
data("EmplUK", package="plm")
data("Produc", package="plm")
data("Grunfeld", package="plm")
data("Wages", package="plm")

In [4]:
head(Grunfeld)

  firm year inv   value  capital
1 1    1935 317.6 3078.5   2.8
2 1    1936 391.8 4661.7  52.6
3 1    1937 410.6 5387.1 156.9
4 1    1938 257.7 2792.2 209.2
5 1    1939 330.8 4313.2 203.4
6 1    1940 461.2 4643.9 207.2

In [6]:
E <- pdata.frame(EmplUK, index=c("firm","year"), drop.index=TRUE, row.names=TRUE)
head(E)

       sector emp   wage    capital output
1-1977 7      5.041 13.1516 0.5894   95.7072
1-1978 7      5.600 12.3018 0.6318   97.3569
1-1979 7      5.015 12.8395 0.6771   99.6083
1-1980 7      4.715 13.8039 0.6171  100.5501
1-1981 7      4.093 14.2897 0.5076   99.5581
1-1982 7      3.166 14.8681 0.4229   98.6151

In [7]:
head(attr(E, "index"))

  firm year
1 1    1977
2 1    1978
3 1    1979
4 1    1980
5 1    1981
6 1    1982

In [ ]:
summary(E$emp)