In [1]:
rm(list = ls())

In [2]:
library("plm")

In [3]:
data("EmplUK", package="plm")
data("Produc", package="plm")
data("Grunfeld", package="plm")
data("Wages", package="plm")

In [4]:
head(Grunfeld)

  firm year inv   value  capital
1 1    1935 317.6 3078.5   2.8
2 1    1936 391.8 4661.7  52.6
3 1    1937 410.6 5387.1 156.9
4 1    1938 257.7 2792.2 209.2
5 1    1939 330.8 4313.2 203.4
6 1    1940 461.2 4643.9 207.2